<div class="fade-in">
  <c-card class="mb-4">
    <c-card-header>
      Cajas reports
    </c-card-header>
    <c-card-body>
      <!-- <table class="table">
        <thead>
          <tr>
            <th>Heading</th>
            <th>Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p><code class="c-highlighter-rouge">&lt;h1&gt;&lt;/h1&gt;</code></p>
            </td>
            <td><h1>h1. Bootstrap heading</h1></td>
          </tr>
          <tr>
            <td>
              <p><code class="c-highlighter-rouge">&lt;h2&gt;&lt;/h2&gt;</code></p>
            </td>
            <td><h2>h2. Bootstrap heading</h2></td>
          </tr>
          <tr>
            <td>
              <p><code class="c-highlighter-rouge">&lt;h3&gt;&lt;/h3&gt;</code></p>
            </td>
            <td><h3>h3. Bootstrap heading</h3></td>
          </tr>
          <tr>
            <td>
              <p><code class="c-highlighter-rouge">&lt;h4&gt;&lt;/h4&gt;</code></p>
            </td>
            <td><h4>h4. Bootstrap heading</h4></td>
          </tr>
          <tr>
            <td>
              <p><code class="c-highlighter-rouge">&lt;h5&gt;&lt;/h5&gt;</code></p>
            </td>
            <td><h5>h5. Bootstrap heading</h5></td>
          </tr>
          <tr>
            <td>
              <p><code class="c-highlighter-rouge">&lt;h6&gt;&lt;/h6&gt;</code></p>
            </td>
            <td><h6>h6. Bootstrap heading</h6></td>
          </tr>
        </tbody>
      </table> -->
    </c-card-body>
  </c-card>
</div>
