<c-row>
  <c-col xs>
    <c-card class="mb-4">
      
      <c-card-header >Finalizados</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="dark">
            <tr>
              <th><h5><strong>OF</strong></h5></th>
              <th class="text-center"><h5><strong>ARTICULO</strong></h5></th>
              <th class="text-center"><h5><strong>UNID_EMBALADAS</strong></h5></th>
              <th class="text-center"><h5><strong>UNID_SOLICITADAS</strong></h5></th>
              <th class="text-center"><h5><strong>FECHA</strong></h5></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let articulo of articulos | filterFinalizeds">
              <td>
                <div><h3>{{ articulo.OF }}</h3></div>
              </td>

              <td>
                <div class="text-center">
                  <h5><strong>{{ articulo.Descripcion}}</strong></h5>
                </div>
              </td>
              <td>
                <div class="text-center">
                  <h5><strong>{{articulo.UNID_EMBALADAS}}</strong></h5>
                </div>
              </td>
              <td>
                <div class="text-center">
                  <h5><strong>{{articulo.Cantidad}}</strong></h5>
                </div>
              </td>
              <td>
                <div class="text-center">
                  <h5><strong>{{articulo}}</strong></h5>
                </div>
              </td>

            </tr>
          </tbody>
          <tfoot cTableColor="dark">
            <tr>
              <th><h5><strong>OF</strong></h5></th>
              <th class="text-center"><h5><strong>ARTICULO</strong></h5></th>
              <th class="text-center"><h5><strong>UNID_EMBALADAS</strong></h5></th>
              <th class="text-center"><h5><strong>UNID_SOLICITADAS</strong></h5></th>
              <th class="text-center"><h5><strong>FECHA</strong></h5></th>
            </tr>
          </tfoot>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
