<div class="bg-light d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-col *ngIf="error" class="alert alert-danger">{{error}}</c-col>
        <c-col *ngIf="success" class="alert alert-success">{{success}}</c-col>
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="form" (ngSubmit)="createUser()">
              <h1>Registro</h1>
              <p class="text-medium-emphasis">Registrar nuevo usuario</p>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input
                  required 
                  type="text"
                  cFormControl
                  formControlName = "name"
                  (ngModelChange)="formValid()"
                  placeholder="Nombre y apellidos"
                  autoComplete="Nombre y apellidos"
                  [ngClass]="{input_error: form.controls['name'].errors?.['minlength']}"/>
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input
                  required
                  cFormControl
                  autoComplete="name"
                  placeholder="Username"
                  formControlName = "username"
                  (ngModelChange)="formValid()"
                  [ngClass]="{input_error: form.controls['username'].errors?.['minlength']}"
                  />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>@</span>
                <input 
                  required 
                  cFormControl
                  placeholder="Email"
                  autoComplete="email"
                  formControlName = "email"
                  (ngModelChange)="formValid()"
                  [ngClass]="{input_error: form.controls['email'].errors?.['email']}"/>
              </c-input-group>
              <p class="alert-error" *ngIf="form.controls['email'].errors?.['email']">
                El formato del email es incorrecto
              </p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input 
                  required 
                  cFormControl
                  type="password"
                  placeholder="Password"
                  autoComplete="new-password"
                  formControlName = "password"
                  (ngModelChange)="formValid()"
                  [ngClass]="{input_error: form.controls['password'].errors?.['minlength']}"/>
              </c-input-group>
              <p class="alert-error" *ngIf="form.controls['password'].errors?.['minlength']">
                La contraseña debe tener almenos 5 caracteres
              </p>
              <div class="d-grid">
                <button type="submit" cButton class="px-4" color="primary" [disabled]="isButtonLoginDisabled || loading" >
                  <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                  Registrar
                </button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
